.optionChooseContainer{
    display: grid;
    width: 79%;
}
.optionChoose{
    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
    margin-top: 8%;
    margin-left: 2%;
    margin-bottom: 1%;
    height: fit-content;
    width: 97%;
    padding: 1%; 
}
@media screen and (max-width: 925px) {
    .optionChoose{
        margin-top: 20%;
    }
}
@media screen and (max-width: 700px) {
    .optionChooseContainer{
        width: 100%;
    }
  }