.profileContainerBox{
    display: grid;
    width: 79%;
    /* grid-template-rows: 150px auto ; */
}
.profileContainer{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    align-content: center;
    margin-top: 145px;
    margin-left: 2%;
    margin-bottom: 1%;
    /* box-sizing: border-box;
    box-shadow: 1px 2px 6px 2px rgb(219 219 219); */
    height: fit-content;
    width: 97%;
    padding: 1%;
}

@media screen and (max-width: 925px) {
    .profileContainer{
        margin-top: 170px;
    }
}
@media screen and (max-width: 700px) {
    .profileContainerBox{
        width: 100%;
    }
  }