.category-icons{
    display: grid;
    width: 70%;
    left: 5%;
    height: 50px;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    background-color:rgb(206 206 206);
    border-radius: 10px;
    margin-top:75px ;
    position: fixed;
}
.category-icons i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    border-color: #333;
    font-size: 1.5rem;
}
.category-icons i:hover{
    color: white;
    border-color: #aaa;
}
.icons{
    width: fit-content;
    align-items: center;
    cursor: pointer;
}
.hovertext {
    position: relative;
}
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 85%;
}.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 700px) {
    .category-icons{
        width: 90%;
    }
}
@media screen and (max-width: 778px) {
    .category-icons{
        margin-top:115px ;
    }
}