nav
{
    background-color: #e9e9ff;
    margin: 0;
    text-align: start;
    width: 100%;
    display: inline grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: "Lato", sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position:fixed;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.logo{
    width: 160px;
    margin-right: 10px;
    }
.nav-left-section{
    display: flex;
    float: left;
    align-items: center;
    }
.nav-right-section{
    display: flex;
    float: right;
    align-items: center;
    margin-right: 5%;
}
.nav-right-section a{
    float: left;
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    width: fit-content;
    }
.nav-right-section a:hover{
      color: #fff;
    }
    .contribute{
        cursor: pointer;
      }    
.contribute h4 :hover{
    color: #fff;
}

.user-icon{
        width: 40px;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        .nav-left-section, .nav-right-section{
          display: flex;
          float:none;
          align-items: center;
          }
          .nav-right-section{
          float:none;
          margin-right: 5%;
          }
        .search-box{
          width: 200px;
        }
      }
      